sounddevice
websockets
numpy
scipy
gpiozero
python-dotenv
pydub
paho-mqtt
requests
openai
aiohttp
flask
flask-sock
simple-websocket
lgpio
rpi-ws281x
adafruit-blinka
adafruit-circuitpython-neopixel-spi
packaging
pvporcupine
openwakeword
onnxruntime
